body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:94px;
  width:70px;
  height:16px;
}
#u1 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u0_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2 {
  position:absolute;
  left:125px;
  top:139px;
  width:70px;
  height:16px;
}
#u3 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u2_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4 {
  position:absolute;
  left:125px;
  top:179px;
  width:70px;
  height:16px;
}
#u5 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u4_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6 {
  position:absolute;
  left:125px;
  top:219px;
  width:70px;
  height:16px;
}
#u7 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u6_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  position:absolute;
  left:300px;
  top:90px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:300px;
  top:125px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:300px;
  top:160px;
  width:200px;
  height:64px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:243px;
  top:94px;
  width:34px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:236px;
  top:130px;
  width:48px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:230px;
  top:184px;
  width:60px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:350px;
  top:450px;
  width:100px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:300px;
  top:330px;
  width:200px;
  height:100px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:244px;
  top:372px;
  width:32px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:100px;
  top:20px;
  width:120px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u22_img.selected {
}
#u22.selected {
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:260px;
  top:20px;
  width:120px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:420px;
  top:20px;
  width:120px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u26_img.selected {
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:580px;
  top:20px;
  width:120px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:300px;
  top:248px;
  width:200px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30_input:disabled {
  color:grayText;
}
#u31 {
  position:absolute;
  left:300px;
  top:290px;
  width:200px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
#u32 {
  position:absolute;
  left:206px;
  top:250px;
  width:84px;
  height:17px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
