body{
    font-family: 'Lato';
    background: url("/images/treasure_login_e.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

footer {
  margin-top: 20px;
  margin-bottom: 300px;
}
